<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:wicket="http://wicket.apache.org">
<body>
<wicket:panel>

    <h2 wicket:id="new_song_header" class="mt20">Добавление новой песни</h2>

    <div wicket:id="feedback"></div>

    <form wicket:id="form" style="max-width: 900px;">
        <div class="row">
            <div class="col-md-12">
                <div class="bld">Название</div>
                <input wicket:id="title" type="text" class="form-control" placeholder="Название песни">
            </div>
        </div>
        <div class="row mt5">
            <div class="col-md-3">
                <div class="bld">Стихи</div>
                <input wicket:id="text_author" type="text" class="form-control">
            </div>
            <div class="col-md-3">
                <div class="bld">Музыка</div>
                <div>
                    <input wicket:id="music_author" type="text" class="form-control">
                </div>
            </div>
            <div class="col-md-3">
                <div class="bld">Исполнитель</div>
                <div>
                    <input wicket:id="singer" type="text" class="form-control">
                </div>
            </div>
            <div class="col-md-3">
                <div class="bld">Группа</div>
                <div>
                    <input wicket:id="band" type="text" class="form-control">
                </div>
            </div>
        </div>
        <div class="mt5">
            <div class="bld">Текст</div>
            <textarea wicket:id="text" class="form-control" style="max-width: 900px;" placeholder="Текст"></textarea>
        </div>
        <div class="mt5">
            <div class="bld">Ссылки</div>
            <textarea wicket:id="links" class="form-control" style="max-width: 900px;" placeholder="Внешние ссылки: Youtube, MP3..."></textarea>
        </div>
        <div class="mt10">
            <a wicket:id="cancel_link" class="btn btn-default mr10">Отменить</a>
            <input type="checkbox" class="ml5 glyphicon text-danger" onchange="$(this).next().toggleClass('disabled')" title="Подтвердить удаление"/>
            <a wicket:id="delete_link" class="btn btn-danger mr10 disabled">Удалить</a>
            <a wicket:id="save_link" class="ml10 btn btn-success">Сохранить</a>
            <a wicket:id="about_link" class="txt-muted pt5" style="float:right" target="_blank">О формате записи</a>
        </div>
    </form>

</wicket:panel>
</body>
</html>