#sidebar {
    position: fixed;
    width: 80px;
    height: 100%;
    z-index: 1000;
    overflow: hidden;
    background-color: white;
}

#sidebar-toggle {
    position: fixed;
    top: 24px;
    right: 16px;
    font-size: 32px;
    z-index: 100;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    height: 37px;
}

#content-block {
    width: 100%;
    padding-left: 80px;
}

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 10px 0;
    font-size: 12px;
    text-align: center;
    overflow-x: hidden;
}

.sidebar-nav a {
    color: #555;
    text-decoration: none;
}

.sidebar-nav a:after {
    content: '';
    display: block;
    margin: auto;
    height: 3px;
    width: 0;
    background: transparent;
}

.sidebar-nav a:hover:after {
    width: 60px;
    background: #ddd7d5;
}

.sidebar-nav img {
    width: 50px;
    height: 50px;
}

.sidebar-spacer {
    margin-top: 50px;
}