.song-title {
    font-weight: bold;
    font-size: 18px;
}

.song-date {
    color: #777;
    font-size: 11px;
}

.song-author {
    font-size: 14px;
}

.song-text {
    font-size: 14px;
    white-space: pre;
}

@media only screen and (min-width: 650px) {
    .song-text-2-cols {
        column-count: 2;
    }
}

.song-toolbar {
    margin-top: 5px;
    padding: 5px 10px;
    background-color: #F8F8F8;
    border: 1px solid #D8D8D8;
}

.song-toolbar-close {
    font-size: 18px;
    color: #999;
    font-weight: bold;
    float: right;
    cursor: pointer;
}