<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:wicket="http://wicket.apache.org">
<body>
<wicket:panel>
    <form wicket:id="register_form">
        <h2 class="txtc mt10">Регистрация</h2>
        <hr class="mb30">
        <div class="md-group">
            <input wicket:id="email_field" type="text" required autofocus/>
            <span class="md-highlight"></span>
            <span class="md-bar"></span>
            <label>Email</label>
            <span wicket:id="email_error"></span>
        </div>
        <div class="md-group">
            <input wicket:id="login_field" type="text" required/>
            <span class="md-highlight"></span>
            <span class="md-bar"></span>
            <label>Псевдоним</label>
            <span wicket:id="login_error"></span>
        </div>
        <div class="md-group">
            <input wicket:id="password1_field" type="password" required/>
            <span class="md-highlight"></span>
            <span class="md-bar"></span>
            <label>Пароль</label>
            <span wicket:id="password1_error"></span>
        </div>
        <div class="md-group">
            <input wicket:id="password2_field" type="password" required/>
            <span class="md-highlight"></span>
            <span class="md-bar"></span>
            <label>Повтор пароля</label>
            <span wicket:id="password2_error"></span>
        </div>
        <div class="txtc">
            <a wicket:id="submit" class="btn btn-bw w100">Зарегистрироваться</a>
        </div>
    </form>
</wicket:panel>
</body>
</html>
