<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:wicket="http://wicket.apache.org">
<body>
<wicket:panel>
    <form wicket:id="login_form" class="mt50">
        <h2>Вход</h2>
        <hr>
        <div wicket:id="feedback"></div>

        <table class="pr20_td pb10_td top_td">
            <tr>
                <td>
                    <table class="pr20_td pb10_td">
                        <tr>
                            <td class="vat"><label for="email-or-login">Email или имя</label></td>
                            <td><input wicket:id="email_or_login_field" id="email-or-login" type="text" class="form-control input-sm fsi" onkeypress="$site.Utils.focusOnEnter(event, '#password');"/></td>
                        </tr>
                        <tr>
                            <td class="vat"><label for="password">Пароль</label></td>
                            <td><input wicket:id="password_field" id="password" type="password" class="form-control input-sm fsi" onkeypress="$site.Utils.clickOnEnter(event, '#login-button')"/></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td class="txtl"><a wicket:id="login_link" class="btn btn-success" id="login-button">Вход</a></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td class="txtl pt5">
                                <a wicket:id="restore_link" class="muted-d">Забыли пароль?</a>
                                <br>
                                <a wicket:id="signup_link" class="muted-d">Регистрация</a>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </form>

</wicket:panel>
</body>
</html>