<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:wicket="http://wicket.apache.org">
<body>
<wicket:panel>

    <div wicket:id="panel">
        <div wicket:id="song" class="song-block">


            <div wicket:id="date" class="song-date"></div>

            <a wicket:id="title_link" class="btn btn-default">
                <span wicket:id="title" class="song-title"></span>
            </a>
            <div wicket:id="toolbar" class="song-toolbar">
                <a class="song-toolbar-close" title="Скрыть тулбар" onclick="$(this).parent('.song-toolbar').toggle(); return false;">&times;</a>
                <table class="pr15_td">
                    <tr>
                        <td>
                            <a wicket:id="edit_link" class="btn btn-default btn-xs">Редактировать</a>
                        </td>
                        <td class="nowrap">
                            <b class="txt-muted-7">Аккорды: </b>
                            <a wicket:id="chords_view_inlined_link" class="btn btn-default btn-xs">Показать</a>
                            <a wicket:id="chords_view_hidden_link" class="btn btn-default btn-xs">Скрыть</a>
                        </td>
                        <td class="nowrap">
                            <b class="txt-muted-7">Тональность: </b>
                            <a wicket:id="tone_down_link" class="btn btn-default btn-xs"><i class="glyphicon glyphicon-chevron-down"></i></a>
                            <a wicket:id="tone_up_link" class="btn btn-default btn-xs"><i class="glyphicon glyphicon-chevron-up"></i></a>
                        </td>
                    </tr>
                </table>
            </div>


            <div wicket:id="author" class="song-author"></div>
            <div class="row">
                <div class="col-md-9">
                    <div wicket:id="text_view"></div>
                </div>
                <div class="col-md-3">
                    <div wicket:id="links"></div>
                </div>
            </div>
        </div>
        <div wicket:id="edit_panel"></div>
    </div>
</wicket:panel>
</body>
</html>